.train {
  height: 100%;
  position: relative;

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.train-samples {
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.train-webcam-container {
  height: 400px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 25px;

  background-color: var(--color-background-1);
}

.forward-btn, .back-btn {
  position: absolute;
  height: 160px;
  width: 30px;

  border-radius: 6px;
  border: none;

  font-size: 20px;

  color: var(--color-text-primary);
  background-color: var(--color-fill-blue);
}

.forward-btn {
  right: 15px;
}

.back-btn {
  left: 15px;
}

.forward-btn:hover, .back-btn:hover {
  background-color: var(--color-blue);
}

.forward-btn:active, .back-btn:active {
  background-color: var(--color-blue-dark);
}

.disabled, .disabled:hover, .disabled:active {
  background-color: var(--color-fill-gray);
}
