.deploy-page {
  height: 100%;
  padding: 10px;

  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;

  /* border: 1px solid var(--color-fill-gray); */
  border-radius: 10px;
  color: var(--color-dark-gray);
}

.deploy-page-hover {
  background-color: #1E283C80;
}

@keyframes heatAnimation {
  0% {
    box-shadow: none;
  }
  50%, 100% {
    box-shadow: 0px 0px 8px 5px var(--color-red-dark);
  }
}

@keyframes shakeAnimation {
  0%, 50% {
    transform: translateX(0);
  }
  51%, 53%, 55%, 57%, 59%, 61%, 63%, 65%, 67%, 69%, 71%, 73%, 75%, 77%, 79%, 81%, 83%, 85%, 87%, 89%, 91%, 93%, 95%, 97%, 99% {
    transform: translateX(-5px);
  }
  52%, 54%, 56%, 58%, 60%, 62%, 64%, 66%, 68%, 70%, 72%, 74%, 76%, 78%, 80%, 82%, 84%, 86%, 88%, 90%, 92%, 94%, 96%, 98% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}


.deploy-bar {
  height: 100%;
  padding: 5px;

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 7px;
  color: var(--color-text-primary);

  background: repeating-linear-gradient(
    45deg,
    var(--heated-background),
    var(--heated-background) 2px,
    transparent 2px,
    transparent 10px
  );

  animation:
    1s heatAnimation forwards,
    1s shakeAnimation;
  animation-play-state: paused;
  animation-delay: calc(-1s * var(--heat));
}

.deploy-menu {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.row-1, .row-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.row-1 {
  background-color: var(--color-fill-gray);
  border-radius: 7px;
}

.deploy-btn {
  width: 28px;
  height: 28px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 7px;
  background-color: var(--color-fill-gray);
}

.row-1 > .deploy-btn:hover {
  background-color: var(--color-blue);
}

.row-1 > .deploy-btn:active {
  background-color: var(--color-fill-blue);
}

.row-1 > .active {
  background-color: var(--color-fill-blue);
}

.row-2 > .deploy-btn:hover:not(.stop-button) {
  background-color: var(--color-purple);
}

.row-2 > .deploy-btn:active:not(.stop-button) {
  background-color: var(--color-fill-purple);
}

.deploy-btn > svg {
  height: 20px;
  width: 20px;
}

.stop-button {
  background-color: var(--color-red-dark);
}

.stop-button:hover {
  background-color: var(--color-red);
}

.drag-button {
  height: 72px;
  width: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 7px;
  font-size: 20px;

  background-color: var(--color-fill-gray);
  -webkit-app-region: drag;
}

.expanded-page {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #1E283C80;
}

.expanded-container {
  height: 360px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.unexpand {
  width: 150px;
  height: 40px;
  margin-top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 7px;
  border: 1px solid var(--color-fill-blue);
  font-size: 24px;

  background-color: var(--color-fill-blue);
  cursor: pointer;
}

.un-unexpandable {
  background:
    conic-gradient(
      var(--color-fill-blue) 0% calc(var(--cool) * 100%),
      black 0
    );
  cursor: auto;
}
