.image-box-Positive.focused-true {
  --color-shadow-focus: var(--color-blue-light);
  --color-fill-focus: var(--color-fill-blue);
  --color-text-focus: var(--color-text-blue);
}

.image-box-Negative.focused-true {
  --color-shadow-focus: var(--color-purple-light);
  --color-fill-focus: var(--color-fill-purple);
  --color-text-focus: var(--color-text-purple);
}

.focused-false {
  --color-shadow-focus: var(--color-fill-gray);
  --color-fill-focus: var(--color-fill-gray);
  --color-text-focus: var(--color-text-primary);
}

.image-box {
  width: 400px;
  height: 230px;

  display: flex;
  flex-direction: column;

  border-radius: 30px;
  padding: 20px;

  box-shadow: var(--color-shadow-focus) 5px 5px;
  background-color: var(--color-background-1);
}

.image-box-title {
  padding-left: 10px;
  padding-bottom: 7px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;

  font-weight: 600;

  border-bottom: solid 1.5px var(--color-fill-focus);
  color: var(--color-text-focus);
}

.images {
  overflow-y: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.images::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
  background-color: var(--color-dark-gray);
}

.images::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-fill-focus);
}

.mini-canvas {
  height: 72px;
  width: 96px;

  position: relative;

  border-radius: 10px;
}

.mini-canvas > canvas {
  height: 100%;
  width: 100%;

  border-radius: 10px;
}

.delete-image {
  position: absolute;
  right: 3px;
  top: 3px;

  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  color: #e03131;
  transition: background-color 0.3s ease-in-out;
}

.delete-image:hover {
  background-color: var(--color-white);
}

.fallback-text {
  font-size: 12px;
}
