* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	min-height: 0;
	min-width: 0;
	/* border: 1px solid black; */

}

.vertbox {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: stretch;
	/* border-style: dotted; */
}

.horibox {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
	/* border-style: dashed; */
}

/* Webcam */

.webcam {
	width: 300px;
	height: 300px;
	border-style: solid;
}